# comportamento de desenvolvimento e produção
NODE_ENV=development # / production / test

# configuração server
PORT=3000
DATABASE_URL="banco://usuario:suasenhadobanco@dominio:porta/nomedobanco"

# informações da session
SESSION_SECRET="senha-grande-para-utilizar-na-session"

# front-end
FRONTEND_URL="url-do-front-end-se-tiver"
